/*
All styles
*/
/*
Variable configs
*/
/*
Layout Styles
*/
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0; }

.container {
  max-width: 100%;
  margin: 0 auto; }

.header-top {
  display: flex;
  padding: 30px 0px; }
  .header-top .header-top-left,
  .header-top .header-top-right {
    flex-basis: 50%;
    padding: 20px 5px; }

.header-logos-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  float: right;
  margin: 0; }

.header-bottom {
  display: flex; }
  .header-bottom .header-bottom-left,
  .header-bottom .header-bottom-right {
    flex-basis: 50%; }
  .header-bottom .top-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; }
